{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ title | upper }}</h1>
    <p>Comment allez vous ?!</p>

    {#
    {% if age >= 18 %}
        <p>Vous êtes un adulte.</p>
    {% else %}
        <p>Vous êtes mineur.</p>
    {% endif %}
    #}

    {% for prenom, age in tableau %}
        {% if loop.first %}
            <strong>{{ prenom }} a {{ age }} ans</strong>
        {% else %}
            <p>(iteration numéro {{ loop.index0 }}) : {{ prenom }} a {{ age }} ans</p>
        {% endif %}
    {% endfor %}
{% endblock %}